/* Colors */
:root {
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
  --brand: #3c78f0;
}

/* Global stylesheet */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, system-ui, sans-serif;
  font-family: 'Kanit', sans-serif;
  background-color: #f9f9f9;
}
p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li,
img {
  max-width: 37.5em; /* 600px /16 */
}
p,
.tmpl-post li {
  line-height: 1.45;
}
a[href] {
  color: var(--blue);
}
a[href]:visited {
  color: var(--navy);
}
.nav-item a[href]:after
{
  content: "";
    background:var(--brand);
    display: block;
    height: 3px;
    width: 100%;
    position: static;
}

main {
  padding: 1rem;
}
main :first-child {
  margin-top: 0;
}
header {
  border-bottom: 1px dashed var(--lightgray);
}
header:after {
  content: "";
  display: table;
  clear: both;
}
table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}
code {
  word-break: break-all;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

.highlight-line:empty:before {
  content: " ";
}

.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  padding: 0 1rem;
  float: left;
  margin: 1rem 0; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
}
.home :link:not(:hover) {
  text-decoration: none;
}

.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 1em;
}

nav ul {
  float:right;
}

.nav-item {
  display: inline-block;
}
.nav-link {
  padding: 5px 10px;
}

.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

.navbar-brand {
  font-weight: 800;
  font-size: 2rem;
  font-family: 'Kanit', sans-serif;
  padding-bottom: 0;
}


/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  flex-wrap: wrap;
  align-items: baseline;
  counter-increment: start-from -1;
  line-height: 1.8;
  outline: 1px solid var(--brand);
  padding: 10px;
  margin-bottom: 10px;
}
a[href].postlist-link {
  color: var(--brand);
  font-family: 'Kanit', sans-serif;
  display: block;
}

.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  padding-left: .25em;
  padding-right: .25em;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}


/* Tags */
.post-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.75em; /* 12px /16 */
  padding: 0.08333333333333em 0.3333333333333em; /* 1px 4px /12 */
  margin-left: 0.6666666666667em; /* 8px /12 */
  margin-top: 0.5em; /* 6px /12 */
  margin-bottom: 0.5em; /* 6px /12 */
  color: var(--darkgray);
  border: 1px solid var(--gray);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
  line-height: 1.8;
}
a[href].post-tag,
a[href].post-tag:visited {
  color: inherit;
}
a[href].post-tag:hover,
a[href].post-tag:focus {
  background-color: var(--lightgray);
}
.postlist-item > .post-tag {
  align-self: center;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

.aff-disclaimer {
  max-width: 100%;
    font-size: 14px;
    padding: 0;
    margin: 0;
    color: rgb(159 159 159);
}

.product {
  padding: 5px;
  display: block;
  margin-bottom: 1rem;
  border-right: 5px solid #f9f9f9;
  border-left: 5px solid #f9f9f9;
  background: #fff;
  font-size: 0.9rem;
  height: 95%;
}

.product__row {
  padding: 0 10px;
}

.product__logo{
  width: 100%;
  display: block;
  margin: 5px auto 5px!important;
  max-width: 110px;
}

.product__set a[href] {
  margin: 3px 5px;
  background-color: #e7edf7;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  line-height: 14px;
  padding: 6px;
}

.product .product__set a[href] {
 margin: 10px 0;
 border: 1px solid #d0daeb;
}

.product__image {
  min-height: 200px;
  padding: 0 5px 5px;
}

.product__image a[href] {
  text-decoration: none;
}

.product__set a:hover {
  background: var(--brand);
  color: #fff;
}

.product__name {
  margin-top: -5px;
  margin-bottom: 5px;
}

.product__name a {
  color: #4d6c9f;
  display: block;
  padding: 5px 0;
}


.product .btn {
  display:block;
  position: relative;
  line-height: 1rem;
  padding: 3px;
  margin: 5px;
}

.product__linkprovider {
  display: block;
  font-weight: 300;
  font-size: 12px;
  line-height: 1rem;
}

.product__product-image {
  max-height:225px;
  display:block;
  margin: 0 auto;
}

.product a[href].btn  {
  color: #fff;
  font-weight: 800;
}

.page__header {
  min-height: 50px;
}

.pagination a, .pagination span {
  display:block;
  padding:5px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-decoration: none;
}

.pagination a, .pagination a[href] {
  background-color: var(--brand);
  color: var(--white);
}

.pagination span {
  background-color: #ededed;
  color: #333;
}

.navbar {
  padding: 0.5rem 0 0;
  display: block;
}

.navbar-logo, a[href].navbar-logo {
  line-height: 1;
    text-align: center;
    justify-content: center;
    background: #5f7eb3;
    color: white;
    width: 120px;
    height: 140px;
    border-radius: 10px;
    transform: rotate(-5deg) scale(0.55);
     position: absolute;
     left: -15px;
     top: -30px;
    font-weight: 800;
    font-size: 2rem;
    font-family: 'Kanit', sans-serif;
    padding-bottom: 0;
    padding-top: 0.3125rem;
    margin-right: 1rem;
    text-decoration: none;
    white-space: nowrap;
}

.navbar-logo--alt, a[href].navbar-logo--alt {
  background: #7494cb;
  transform: rotate(-11deg) scale(0.55);
  left: -30px;
}

.logo {
  position: relative;
}


.leftcol {
  max-width: 95%;
}

.slug {
  font-weight: 800;
  font-size: 1rem;
  color: var(--brand);
  line-height: 1rem;
  margin-bottom: 10px;
}

.index-header {
  margin: 0;
}

h4 span {
  color: var(--brand);
}

.neutron {
  font-family: 'Neuton', serif;
  font-size: 1.6rem;
  color: var(--brand);
}

.neutron a[href] {
  font-family: 'Neuton', serif;
  font-size: 2rem;
  color: var(--brand);
}

.btn-outline-secondary, a[href].btn-outline-secondary {
  border-color: var(--brand);
  color: var(--brand);
  line-height: 1.5rem;
    height: 2.5rem;
}

.btn-primary {
  color: var(--white)!important;
}

.btn-outline-secondary:hover, a[href].btn-outline-secondary:hover {
  background-color: var(--brand);
  color: var(--white);
}

footer {
  background: #e7edf7;
    padding: 2rem;
}

@media (max-width: 768px) { 
  .page__index .hide-mobile {
    display:none;
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }
 }

 @media (max-width: 500px) {
.product__image {
  min-height: 100px;
}

.product {
  min-height: 255px;
}

  .product__set a {
    margin: 5px 0;
  }

  .neutron {
    font-size: 1.4rem;
    line-height: 2rem;
}

.social-media, .social-media a {
  width: 100%;
}

a[href].navbar-logo {
left: -5px;
}
a[href].navbar-logo--alt {
  left: -10px;
  }

 }
 