---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

{# -------------------------------------- organise data #}

{% set brandslist = [] %}

{% for post in products %}
   {% if post.brand not in brandslist %}
    {% set brandslist = (brandslist.push(post.brand), brandslist) %}
   {% endif %}
{% endfor %}

{# -------------------------------------- brands list #}
<h2>Brands</h2>
<div class="row">
{% for brand in brandslist %}
<div class="col-sm-2">
<a href="/masks/{{brand|slug}}/">{{brand}}</a>
</div>
{% endfor %}
</div>

{# -------------------------------------- latest products #}
<h2>Latest Additions..</h2>
{% set masks = products %}
{% include "listmasks.njk" %}