---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

{% set brandslist = [] %}

{% for post in products %}
   {% if post.brand not in brandslist %}
    {% set brandslist = (brandslist.push(post.brand), brandslist) %}
   {% endif %}
{% endfor %}

{% for brand in brandslist %}
<div>
<a href="/masks/{{brand|slug}}/">{{brand}}</a>
</div>
{% endfor %}

{% for item in products %}
<div>
<img src="/img/masks/{{item.brand|slug}}/{{item.set|slug}}/{{item.name|slug}}.jpg" width="150">
<a href="/masks/{{item.brand|slug}}/{{item.set|slug}}/{{item.name|slug}}">{{item.brand}} - {{item.set}} - {{item.name}}</a>
  </div>
{% endfor %}
