---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---


<div class="row">

<div class="col-md-3">
<h4 class="neutron">Top Articles</h4>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}

<h4 class="neutron">Top Brands</h4>

<div class="row">
{% for brand in brands %}
{% if brand.featured === "yes" %}
<div class="col-6 product__set">
  <a href="/sheet-masks/{{brand.name|slug|replace("'","")}}" class="p-2">{{brand.name}}</a>
  </div>
{% endif %}
{% endfor %}


</div>


</div>

<div class="col-md-9 page__index order-first order-md-last">

{# -------------------------------------- latest products #}

{% set productcount = "" %}
{% set brandcount = "" %}

{% for p in products %}
{% set productcount = loop.length %}
{% endfor%}

{% for p in brands %}
{% set brandcount = loop.length %}
{% endfor%}

<h4 class="text-center">The index contains <span>{{productcount}}</span> sheet masks from <span>{{brandcount}}</span> brands... and counting!</h4>
<p class="text-center" style="
    max-width: 100%;
    background: #ededed;
">When you click a Buy link, we may earn an affiliate commission. <a href="">Learn more</a></p>

<div class="row index-header">
<div class="col d-flex justify-content-start">
<h5 class="neutron">Latest Additions..</h5>
</div>
<div class="col d-flex justify-content-end">
    <a href="/sheet-masks/" class="btn btn-outline-secondary">See all masks..</a>
</div>
</div>

{% set masks = products | head(-18) %}

{% include "listmasks.njk" %}

<div class="row d-flex justify-content-center">
  <div class="col d-flex justify-content-center">
    <a href="/sheet-masks/" class="btn btn-outline-secondary">See all masks..</a>
  </div>
</div>


</div>

</div>