---
layout: layouts/home.njk
pagination: 
   data: brands
   alias: brand
   size: 1
permalink: /sheet-masks/{{brand.name|slug}}/
---

<div class="row">
<div class="col-md-3">
<h4 class="neutron">{{brand.name}}</h4>

<p>Some info about {{brand.name}}</p>
<p>Click here to view the brand page`</p>

<h4 class="neutron">{{brand.name}} Sheet Masks</h4>
{% set setlist = [] %}

{% for item in products %}

      {% if brand.name === item.brand %} 

         {% if item.set not in setlist %}
         {% set setlist = (setlist.push(item.set), setlist) %}
         {% endif %}

      {% endif %} 

{% endfor %}

<div class="row">
{% for item in setlist %}

<div class="col-sm-6 product__set">
<a href="/sheet-masks/{{brand.name|slug}}/{{item|slug}}" class="p-2">{{item}}</a>
</div>
{% endfor %}
</div>
</div>


<div class="col-md-9">
{% set prods = [] %}
{% for p in products %}
 {% if brand.name === p.brand %}
    {% set prods = (prods.push(p), prods) %}
{% endif %} 
{% endfor %}

{% set masks = prods %}
{% include "listmasks.njk" %}
  </div>

</div>

</div>