---
layout: layouts/home.njk
pagination: 
   data: brands
   alias: brand
   size: 1
permalink: /sheet-masks/{{brand.name|slug|replace("'","")}}/
---

<div class="row">
<div class="col-md-3">
<h4 class="neutron">{{brand.name}}</h4>

<p>Some info about {{brand.name}}</p>
<p>Click here to view the brand page</p>

<h4 class="neutron">{{brand.name}} Sheet Masks</h4>


{% set setlist = [] %}
{% for item in products %}

      {% if brand.name | lower === item.brand | lower %} 

         {% if item.set not in setlist %}
         {% set setlist = (setlist.push(item.set), setlist) %}
         {% endif %}

      {% endif %} 

{% endfor %}

<div class="row">
{% for item in setlist %}

<div class="col-sm-6 product__set">
<a href="/sheet-masks/{{brand.name|slug|replace("'","")}}/{{item|slug|replace("'","")}}" class="p-2">{{item}}</a>
</div>
{% endfor %}
</div>
</div>


<div class="col-md-9">
{% set prods = [] %}
{% set ccount = [] %}
{% for p in products %}
 {% if brand.name === p.brand %}
    {% set prods = (prods.push(p), prods) %}
{% endif %} 
{% endfor %}

{% for c in prods %}
{% set ccount = loop.length %}
{% endfor %}

<h4 class="text-center">The index contains <span>{{ccount}}</span> sheet masks from <span>{{brand.name}}</span> ... and counting!</h4>
<p class="text-center" style="
    max-width: 100%;
    background: #ededed;
">When you click a Buy link, we may earn an affiliate commission. <a href="">Learn more</a></p>

{% set masks = prods %}
{% include "listmasks.njk" %}
  </div>

</div>

</div>