---
layout: layouts/home.njk
pagination: 
   data: products
   alias: product
   size: 1
permalink: /sheet-masks/{{product.brand|slug}}/{{product.set|slug}}/{{product.name|slug}}/
---

products

<img src="/img/masks/{{product.brand|slug}}/{{product.set|slug}}/{{product.name|slug}}.png">
<div>
{{product.brand|slug}}/{{product.set|slug}}/{{product.name|slug}}
</div>

