---
layout: layouts/home.njk
pagination: 
   data: products
   alias: product
   size: 1
permalink: /sheet-masks/{{product.brand|slug|replace("'","")}}/{{product.set|slug|replace("'","")}}/{{product.name|slug|replace("'","")}}/
eleventyComputed:
   title: "{{product.brand}} {{product.set}} {{product.name}} Sheet Mask"
   description: "{{product.brand}} {{product.set}} {{product.name}} Sheet Mask | Sheet Mask Index - listing all the world's sheet masks"
---

<div class="row">

<div class="col-3">
   <h4 class="neutron">
   {{product.brand}} {{product.set}} {{product.name}}
   </h4>
</div>

<div class="col-9">
   <img src="/img/masks/{{product.brand|slug|replace("'","")}}/{{product.set|slug|replace("'","")}}/{{product.name|slug|replace("'","")}}.png">
</div>

</div>

