---
layout: layouts/home.njk
pagination: 
   data: sets
   alias: set
   size: 1
permalink: /sheet-masks/{{set.brand|slug|replace("'","")}}/{{set.set|slug|replace("'","")}}/
---

<div class="row">
<div class="col-md-3">
<h4 class="neutron">{{set.brand}}</h4>

{% include 'brandinfo/' + set.brand|slug|replace("'","") + '.html' %}

<p class="product__set col-4 text-center"><a href="/sheet-masks/{{set.brand|slug|replace("'","")}}/">{{set.brand}}</a></p>

<h4 class="neutron">{{set.brand}} Sheet Masks</h4>
{% set setlist = [] %}

{% for item in products %}

      {% if set.brand === item.brand %} 

         {% if item.set not in setlist %}
         {% set setlist = (setlist.push(item.set), setlist) %}
         {% endif %}

      {% endif %} 

{% endfor %}

<div class="row">
{% for item in setlist %}

<div class="col-sm-6 product__set">
  {% if set.set == item %}
  {{item}}
  {% else %}
<a href="/sheet-masks/{{set.brand|slug}}/{{item|slug}}" class="p-2">{{item}}</a>
{% endif %}
</div>
{% endfor %}
</div>
</div>

<div class="col-md-9">

{% set productlist = [] %}
{% set ccount = 0 %}

{% for item in products %}
      {% if set.set === item.set %} 
         {% set productlist = (productlist.push(item), productlist) %}
         {% set ccount = ccount + 1 %}
      {% endif %}
{% endfor %}

<h4 class="text-center">Listing <span>{{ccount}}</span> sheet mask{% if ccount > 1%}s{%endif%} from <span>{{set.brand}} {{set.set}}</span></h4>
<p class="text-center" style="
    max-width: 100%;
    background: #ededed;
">When you click a Buy link, we may earn an affiliate commission. <a href="">Learn more</a></p>

{% set masks = productlist  %}
{% include "listmasks.njk" %}

</div>
</div>