---
layout: layouts/home.njk
pagination: 
   data: sets
   alias: set
   size: 1
permalink: /sheet-masks/{{set.brand|slug}}/{{set.set|slug}}/
---


<div class="row">
<div class="col-md-3">
<h4 class="neutron">{{set.brand|slug}} - {{set.set|slug}}</h4>
</div>

<div class="col-md-9">
{% set productlist = [] %}

{% for item in products %}
      {% if set.set === item.set %} 
         {% set productlist = (productlist.push(item), productlist) %}
      {% endif %} 
{% endfor %}


{% set masks = productlist  %}
{% include "listmasks.njk" %}

</div>

</div>