{% for row in masks | reverse | batch(6, '') %}
<div class="product__row row {% if loop.index >= 3 %}hide-mobile{% endif %}">
{% for item in row %}
{% if item %}
<div class="product col-4 col-xl-2">

  <div>
  <small>
    <a href="/sheet-masks/{{item.brand|slug|replace("'","")}}/">
    <img src="/img/logos/{{item.brand|slug|replace("'","")}}.png" class="product__logo" alt="{{item.brand}}" title="{{item.brand}}">
    </a>
  </small>
  </div>

  <div class="text-center product__set">  
  <a href="/sheet-masks/{{item.brand|slug|replace("'","")}}/{{item.set|slug|replace("'","")}}">
    {{item.set}}
  </a>
</div>

<div class="product__image">
<a href="/sheet-masks/{{item.brand|slug|replace("'","")}}/{{item.set|slug}}/{{item.name|slug|replace("'","")}}" style="display:block;padding: 5px;">
<img src="/img/masks/{{item.brand|slug|replace("'","")}}/{{item.set|slug|replace("'","")}}/{{item.name|slug|replace("'","")}}.png" class="img-fluid product__product-image" alt="{{item.brand}} {{item.set}} {{item.name}}" title="{{item.brand}} {{item.set}} {{item.name}}">
</a>
</div>

<div class="product__desc">

<div class="text-center product__name">  
  <a href="/sheet-masks/{{item.brand|slug|replace("'","")}}/{{item.set|slug|replace("'","")}}/{{item.name|slug|replace("'","")}}">
    {{item.name}}
  </a>
</div>
</div>
<div class="row">

<div class="col-xs-12 text-center">
 {% if item.link|length >0 and item.linkprovider %} 
 <a href="{{item.link}}" class="btn btn-primary product__buy-btn" target="_blank">
   Buy
   <span class="product__linkprovider">on {{item.linkprovider}}</span>
   </a>
 {% else %}
 
 
 
 {% endif %}
</div>

</div>
  </div>
  {% endif %}
{% endfor %}
</div>
{% endfor %}
