---
layout: layouts/home.njk
pagination: 
   data: brands
   alias: brand
   size: 1
permalink: /masks/{{brand.name|slug}}/
---

brands

{% set setlist = [] %}

{% for item in products %}

      {% if brand.name === item.brand %} 

         {% if item.set not in setlist %}
         {% set setlist = (setlist.push(item.set), setlist) %}
         {% endif %}

      {% endif %} 

{% endfor %}

{% for item in setlist %}

<div>
<a href="/masks/{{brand.name|slug}}/{{item|slug}}">{{item}}</a>
</div>

{% endfor %}

{% for item in products %}

 {% if brand.name === item.brand %} 

 <div>
<a href="/masks/{{item.brand|slug}}/{{item.set|slug}}/{{item.name|slug}}">{{item.brand}} - {{item.set}} - {{item.name}}</a>
 </div>

{% endif %} 

{% endfor %}