---
layout: layouts/home.njk
pagination: 
   data: sets
   alias: set
   size: 1
permalink: /masks/{{set.brand|slug}}/{{set.set|slug}}/
---

sets

<div>
{{set.brand|slug}}/{{set.set|slug}}
</div>

{% set productlist = [] %}

{% for item in products %}

      {% if set.set === item.set %} 

         {% if item.name not in productlist %}
         {% set productlist = (productlist.push(item.name), productlist) %}
         {% endif %}

      {% endif %} 

{% endfor %}

{% for product in productlist %}
<div>
<a href="/masks/{{set.brand|slug}}/{{set.set|slug}}/{{product|slug}}">{{set.brand}} - {{set.set}} - {{product}}</a>
</div>
{%endfor%}